html {
  min-height: 100%;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

html, body {
  font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Helvetica,Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  word-wrap: break-word;
}

a, a:link, a:visited {
  color: #fff;
}

a:hover, a:active {
  background-color: #fff;
  color: #222;
  text-decoration: none;
}

body {
  background-color: #613355;
  background: url('/images/sunset-jump.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: #fff;
}

.page-title, .image-caption {
  text-align: center;
}

.image-caption {
  font-size: 1.2rem;
}

.image-caption {
  position: absolute;
  bottom: 2px;
  width: 100%;
}
